.App {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.App-title {
    text-align: center;
}


.App-layout {
    background: rgb(153, 170, 127);
    /* box-shadow: 0px 0px 37px 9px #000000; */
    width: 22rem;
    height: 26rem;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 4px 4px 5px 4px #031f03;

  }



.App-chat-container {
    display: grid;
    grid:
      "App-msgs-container" 20rem
      "App-sendMsg" 3rem
      / auto;
      border-radius: 11px;
      /* box-shadow:  0px 0px 10px 15px rgb(126,194,21); */
      overflow-y:scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
  }

  .App-chatInfo-container{
    background-color: #4dc95d;
    width: 22rem;
    height: 2rem;
    margin: auto;
  }
  

.App-msgs-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 2px;
  margin: 2px;
  background-color: rgba(7, 7, 7, 0);


}

.App-chat-container::-webkit-scrollbar {
  display: none;
}




.App-my-msg-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.App-my-messages {

  padding: 5px;
  width: fit-content;
  min-width: 100px;
  max-width: 300px;
  background-color: rgb(13, 184, 79);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 11px;

}

.App-msg-other-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.other-messages {
  max-width: 300px;
  padding: 5px;
  width: fit-content;
  background-color: rgb(52, 77, 214);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  border-radius: 11px;


}
.App-id-client{
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.App-message{
  margin-top: 3px;
  margin-bottom: 0px;
}


.App-sendMsg{

  display: block;
  justify-content: center;
}

.App-input{
  display: inline-block;

  width: 13em;
  height: 15px;
  margin-left: 5px ;
  padding: 8px 45px 8px 25px;
  /* border-top: 6px solid rgba(109,124,107,0.66);
  border-right: 4px solid rgba(109,124,107,0.66);
  border-bottom: 4px solid rgba(109,124,107,0.66);
  border-left: 6px solid rgba(109,124,107,0.66); */
  /* -webkit-border-radius: 14px; */
  border-radius: 11px;
  font: normal 15px/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(214, 219, 214, 0.66);
  /* -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 1px 1px 0 rgba(66,50,50,0.66) ; */
}

.App-send{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 15px;
  height: 22px;
  cursor: pointer;
  padding: 8px 15px 5px 15px;
  margin-left: 10px;
  border-radius: 16px;
  color: rgb(0, 0, 0);
  background: rgba(26,237,106,0.47);
  -webkit-box-shadow: 0 0 0 0 rgba(51,27,27,0.72) inset;
  box-shadow: 0 0 0 0 rgba(136, 136, 136, 0.72) inset;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
}